
.bio {
   width:128px;
   height:128px;
   border-radius:100px;
   margin: 20px;
}
/* ===== sidebar  ===== */

.sidebar-nav-fixed {
    position: fixed;
}
.sidebar-style {
    color: #4e4e4e;
    height: 100%;
    padding-top: 30px;
    width:170px;
}
.sidebar-style .logo {
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-style .logo i{
  color: #fdb826;
  text-shadow: 1px 0px 2px #FFF;
}
.sidebar-style p {
  display: block;
  text-align: right;
}
.baseline{
  padding: 14px 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #CCC;
  text-align: right;
}
.baseline-border{
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #FFF;
}
.sidebar-style ul {
  margin-top: 10px;
}
.sidebar-style ul li {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #4e4e4e;
    display: inline;
    margin: 0;
    padding: 0;
}
.sidebar-style ul li a {
    color: #4e4e4e;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    text-align: right;
    text-decoration: none;
}
.sidebar-style a:hover {
    color: #353535;
}
.sidebar-style a:active {
    color: #2c2c2c;
}
.sidebar-style blockquote {
    border-color: rgba(0, 0, 0, 0.15);
}
.sidebar-style-large {
    border-radius: 6px 6px 6px 6px;
    padding: 24px;
}
.sidebar-style-small {
    border-radius: 3px 3px 3px 3px;
    padding: 9px;
}
.social{text-align:right;margin: 10px 0;}
.social a .icon{text-decoration:none;color:#353535;padding:5px;}

/* ===== @image ===== */

.picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 96%;
}
.img-polaroid {
    background-color: #fef6f6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    padding: 0px;
    border:1px solid #fef6f6 !important;
}

/* ===== @home ===== */

.home-content {
  overflow: hidden;
  margin-top:15px;
  margin-bottom:30px;
  background: url("../images/pattern/cream_dust.png") repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 0 0 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  display: block;
  line-height: 20px;
}
.home-title{ 
  padding: 39px;
/*  width:100%;*/
  position: relative;
}
.home-content .lead{
  padding-top:10px;
}
.home-content p{
  padding: 0px 10px;
} 

/* ===== @Tablets to Phones ===== */
 
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {  
   .about-content .knob canvas {margin-left: 0px;}
    }
   
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
   .content {min-height: 500px;padding-left: 20px;padding-right: 20px;margin-bottom: 20px;}
   .blog-content {padding: 0 10px}
   .content-contact {padding: 0 10px;}
   .project-info ul li {margin-left: 10px;padding-right: 5px;}
   .element {margin-left: 15px;}
   input[type="text"], input[type="email"] {width: 70%;}
   textarea {width: 90%;}
   .descr-bio {padding-top: 20px;}
   .about-content .knob canvas{margin-left: 80px;}
    .landing,
    .sidebar-style,
    .logo,
    .container {text-align: center;}
    body {padding-left: 0;padding-right: 0;}
    .sidebar-nav-fixed {position: static;}
    .sidebar-style{padding: 0;width: auto;}
    .sidebar-style .logo{text-align: center;}
    .sidebar-style p {display: block;text-align: center;}
    .social{text-align: center;margin: 10px 0;}
    .callbacks_container {width: 100%;}
    .callbacks_nav {top: 47%;}
    .hero-unit {padding: 16px;}
    .about-page{margin-bottom: 10px;}
    .blog-title {border-right: none;padding-top: 10px;}
    .blog-title li{display: inline-block;padding-left: 5px;}
    .blog-info{padding: 5px 0;}
    .post-content{padding: 5px 10px;}
    .offset1 {margin-left: 0px;}
    .separator {background: transparent;}
    .sidebar-right{display: none;}
    .content-contact h3{margin-top: 10px;}
    #options {margin: 20px 0 0 25px;}
    #options li {float: left;margin-bottom: 0em;margin-right: 0em;}
  }
   
/* Landscape phones and down */
@media (max-width: 480px) {
  .up{
    display: block;
    padding: 10px;
    margin-left: 70px;
  }
  .sidebar-style ul li a {
     text-align:center;
  }
 }



 /* -------------------- pattern :gray-jean --------------------- */

 body{ 
  background:url("../images/pattern/gray_jean.png") #FFF;
 }

 .thumbs-up {
  background:url("../images/pattern/gray_jean.png");
}
 
 
 
.gallery .sidebar-style {
   background: #FFF;
   opacity: 0.7;
   margin: 0 8px;	
   padding: 0 8px;
   z-index:100;
}
.gallery .carousel {
   padding:0;
}
.gallery .carousel .item img {
   width:100%;
}
